### JetBrains template
.idea/
*.iws
*.ipr
*.iml
/out/

### Gradle template
.gradle
/build/

### Java template
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

!gradle/wrapper/gradle-wrapper.jar

### macOS template
*.DS_Store

### Project Specific file
kotlinVersion.properties

### for local development
install-local.gradle
local-dev/*
